#board{
    position:relative;
    z-index: 0;
}
.ligne{
    margin: 0px;
    display: flex;
}
.case{
    background-repeat: no-repeat;
    margin: 0px;
    background-position : 0px 0px;
}
.conteneur{
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    margin: 0px;
    z-index: 100;
}
.move{
    background-repeat: no-repeat;
    margin: 0px;
    z-index: 80;
}
#ui-players {
    padding-left: 55px;
}
.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #ff0000;    
    transition: width 0.6s ease;
  }